dialog {
  margin: auto;
  border: none;
  outline: 1px solid var(--dark-gray);
  padding: 0.5em;
}

dialog::backdrop {
  background-color: #41414198;
}

dialog form input {
  padding: 0.25em 0.5em;
  font-size: 1rem;
  border-radius: 3px;
}

.dialog-btn {
  align-self: center;
  padding: 0.5em 2em;
  border-radius: 2rem;
  font-size: 1.05rem;
  background-color: var(--button-bg-clr);
  color: var(--baby-powder);
}

[data-dialog="exchange-rate"] form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

[data-dialog="exchange-rate"] label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

[data-dialog="exchange-rate"] button {
  margin: 1.5rem;
}

/* new item dialogs */

.flex-col {
  display: flex;
  flex-direction: column;
}

.unitary-item,
.weighted-item {
  gap: 1em;
  width: clamp(300px, (100vw - 100px), 400px);
}

.wrapper-labels {
  display: flex;
  gap: 2rem;
}

.close-modal-btn {
  align-self: flex-end;
}

.close-modal-btn svg {
  width: 24px;
  fill: var(--dark-gray);
  cursor: default;
}

.wrapper-labels label,
.wrapper-labels input {
  width: 100%;
}

.unitary-item fieldset,
.weighted-item fieldset {
  display: flex;
  justify-content: space-evenly;
  border: none;
}

fieldset input[name="currency"] {
  display: none;
}

fieldset [name="currency"] + label {
  font-family: var(--quicksand-bold);
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
}

fieldset [name="currency"]:checked + label {
  background-color: var(--medium-gray);
  color: var(--baby-powder);
}
