dialog {
  margin: auto;
  border: none;
  outline: 1px solid black;
  padding: 0.5em;
}

dialog::backdrop {
  background-color: #41414198;
}

dialog form input {
  padding: 0.25em 0.5em;
  font-size: 1rem;
  border-radius: 3px;
}

.dialog-btn {
  padding: 0.5em 2em;
  border-radius: 2rem;
  font-size: 1.05rem;
  background-color: var(--button-bg-clr);
  color: var(--baby-powder);
}

[data-dialog="exchange-rate"] form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

[data-dialog="exchange-rate"] label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

[data-dialog="exchange-rate"] button {
  margin: 1.5rem;
}

/* unitary item dialog */

.unitary-item {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: clamp(300px, (100vw - 100px), 400px);
}

.close-button {
  align-self: flex-end;
}

.close-button svg {
  width: 24px;
  fill: var(--dark-gray);
  cursor: default;
}

.unitary-item > label {
  display: flex;
  flex-direction: column;
}

.unitary-item .wrapper-labels {
  display: flex;
  gap: 2rem;
}

.wrapper-labels label {
  display: flex;
  flex-direction: column;
}

.wrapper-labels label,
.wrapper-labels input {
  width: 100%;
}

.unitary-item fieldset {
  display: flex;
  justify-content: space-evenly;
  border: none;
}

fieldset input[name="currency"] {
  display: none;
}

fieldset [name="currency"] + label {
  font-family: var(--quicksand-bold);
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
}

fieldset [name="currency"]:checked + label {
  background-color: var(--medium-gray);
  color: var(--baby-powder);
}

.unitary-item button {
  align-self: center;
}

/* new weighted item dialog box */

.weighted-item > form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 2em;
}

.weighted-item > form div {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 0.5em;
}

.weighted-item label {
  display: flex;
  flex-direction: column;
}

.weighted-item input,
.weighted-item select {
  padding: 0.25em 0.4em;
  font-size: 0.85rem;
}

.weighted-item input#weight {
  width: 5rem;
}

.weighted-item input#price {
  width: 6rem;
}

.weighted-item > form div:nth-of-type(3) {
  grid-column: 1 / 3;
}

.weighted-item label[for="new-weighted-item"] {
  width: 100%;
}

.weighted-item > form div:nth-of-type(4) {
  /* button container */
  grid-column: 1 / 3;
  display: grid;
  justify-content: center;
  align-items: center;
}
