@font-face {
  font-family: 'quicksand-regular';
  src: url(./fonts/quicksand_book-webfont.woff2) format('woff2'),
       url(./fonts/quicksand_book-webfont.woff) format('woff');
}

@font-face {
  font-family: 'quicksand-bold';
  src: url(./fonts/quicksand_bold-webfont.woff2) format('woff2'),
       url(./fonts/quicksand_bold-webfont.woff) format('woff');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
    /* CSS HEX */
  --baby-powder: #fffffa;
  --medium-gray: #515052;
  --dark-gray: #333138;
  --red: #ff312e;
  --header-bg-clr: var(--dark-gray);
  --title-txt-clr:  var(--baby-powder);
  --list-container-bg-clr: var(--baby-powder);
  --item-bg-clr: var(--baby-powder);
  --body-txt-clr: var(--dark-gray);
  --item-shadow: var(--medium-gray);
  --button-bg-clr: var(--red);
  --quicksand-regular: 'quicksand-regular';
  --quicksand-bold: 'quicksand-bold';
  --header-height: 7rem;
  --item-list-height: calc(100vh - var(--header-height));
}

.container {
  display: grid;
  grid-template-rows: var(--header-height) var(--item-list-height);
  font-family: var(--quicksand-regular);
}

.light-bg {
  background-color: var(--baby-powder);
  color: var(--dark-gray);
}

.dark-bg {
  background-color: var(--dark-gray);
  color: var(--baby-powder);
}

/* Header Styling */

.container__header {
  display: grid;
  position: sticky;
  top: 0;
  grid-template-columns: repeat(2, 1fr);
  gap: .5em;
  padding: .125em;
  font-family: var(--quicksand-bold);
}

.container__header-total {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.container__header-total > h1 {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  align-self: center;
  font-size: 1.25rem;
}

.price-format {
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: .95rem;
  gap: .35em;
}

.price-format > p {
  font-size: .8rem;
}

.container__header-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.container__header-options > * {
  justify-self: center;
  align-self: center;
}

.container__header-options div:first-of-type {
  grid-column: 1 / 3;
  display: flex;
  flex-direction: column;
  gap: .125em;
}

.container__header-options div:first-of-type h3 {
  font-size: .5rem;
  font-weight: lighter;
  text-align: center;
}

.container__header-options .price-format {
  padding: .25em 1em;
  border-radius: 1rem;
}

.container__header-options svg {
  width: 2rem;
  height: 2rem;
  padding: .2em;
  background-color: var(--baby-powder);
  border-radius: 2rem;
  box-shadow: 1px 1px 2px 1px var(--red);
}

.container__header-options svg[data-button="new-item"],
.container__header-options svg[data-button="weighted-item"] {
  fill: var(--dark-gray);
}

/* Item's list elements  */

.container__main-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .65em;
  min-height: var(--item-list-height);
  padding: .75rem .35em;
  background-color: var(--list-container-bg-clr);
}

.container__main-list > .item {
  display: grid;
  grid-template-columns: 60% 30% 10%;
  align-content: center;
  width: 100%;
  height: 2.5rem;
  padding: 0 .2em;
  font-weight: 600;
  border-radius: 5px;
  box-shadow: 2px 2px 5px var(--item-shadow);
}

.container__main-list > .item > [data-item="delete"] {
  text-align: center;
  cursor: pointer;
}

/* exchange rate dialog box */

dialog {
  margin: auto;
  border: none;
  outline: 1px solid black;
  padding: .5em;
}

dialog::backdrop {
  background-color: #41414198;
}

dialog input#exchange-rate,
dialog input#price {
  width: 7rem;
}

dialog > form > input {
  padding: .25em .5em;
  font-size: 1rem;
}

dialog.exchange-rate > form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

dialog.exchange-rate > form h2 {
  grid-column: 1 / 3;
  font-size: 1rem;
  text-align: center;
}

/* new item dialog box */

dialog.new-item form {
  display: grid;
  gap: 1em;
}

dialog.new-item label {
  display: flex;
  flex-direction: column;
}

dialog.new-item label[for="quantity"] {
  width: 5em;
}

dialog.new-item button{
  justify-self: center;
  width: max-content;
  padding: .5em 1em;
}

/* new weighted item dialog box */

dialog.weighted-item > form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 2em;
}

dialog.weighted-item > form div {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: .5em;
}

dialog.weighted-item label {
  display: flex;
  flex-direction: column;
}

dialog.weighted-item input,
dialog.weighted-item select {
  padding: .25em .4em;
  font-size: .85rem;
}

dialog.weighted-item input#weight {
  width: 5rem;
}

dialog.weighted-item input#price {
  width: 6rem;
}

dialog.weighted-item > form div:nth-of-type(3) {
  grid-column: 1 / 3;
}

dialog.weighted-item label[for="new-weighted-item"] {
  width: 100%;
}

dialog.weighted-item > form div:nth-of-type(4) {
  /* button container */
  grid-column: 1 / 3;
  display: grid;
  justify-content: center;
  align-items: center;
}

dialog.weighted-item button {
  padding: .8em 2em;
  border-radius: 2rem;
  font-size: 1.05rem;
  background-color: var(--button-bg-clr);
  color: var(--baby-powder);
}