*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --border-clr: #470ee6;
}

html,
body {
  height: 100%;
  width: 100%;
}

.container {
  display: grid;
  grid-template-rows: 20vh minmax(80vh, auto);
}

.container__header {
  display: grid;
  grid-template-columns: 60vw 40vw;
  padding: .5em;
  border-bottom: 2px solid var(--border-clr);
}

.container__header > div:nth-of-type(1) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.container__header > div:nth-of-type(1) > h1 {
  grid-column: 1 / 3;
  text-align: center;
  font-size: 1.25rem;
}

.container__header span[id^="currency"],
.container__header-exchange {
  display: grid;
  grid-template-columns: 70% 30%;  
}

.container__header span[id^="currency"] > #value,
.container__header-exchange > span {
  text-align: right;
  padding-right: .25em;
}

.container__header-exchange {
  justify-self: center;
  width: fit-content;
}

.container__header > div:nth-of-type(2) {
  display: grid;
}

.container__header > div:nth-of-type(2) > img {
  justify-self: center;
  align-self: center;
}

/* Item's list elements  */

.container__main-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .65em;
  width: 100vw;
  min-height: 100%;
  padding: .5em;
}

.container__main-list > .item {
  display: grid;
  grid-template-columns: 60% 20% 20%;
  width: 90vw;
  height: min-content;
  box-shadow: 1px 1px 3px var(--border-clr);
}

.container__main-list > .item > #delete {
  text-align: center;
  cursor: pointer;
}

/* exchange rate dialog box */

dialog.exchange-rate {
  margin: auto;
  border: none;
  outline: 1px solid black;
  padding: .5em;
}

dialog h2 {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1em;
}
